.login-bg {
	width:889px;
	height:555px;
	margin-left:40px;
	margin-top:50px;
	-moz-box-shadow:2px 2px 8px 2px rgba(20%,20%,20%,0.7);
	-webkit-box-shadow:2px 2px 8px 2px rgba(20%,20%,20%,0.7);
	box-shadow:2px 2px 8px 2px rgba(20%,20%,20%,0.7);
	background:url(../images/backImg/b-login.jpg) no-repeat;
}
.login-bg .login-form {
	padding:250px 0px 0px 200px;
}
.login-bg .login-form label {
	font-weight:bold;
}


