/*b-soft.jsp*/


/*b-soft-add.jsp*/

.add-soft-module {
	width: 90%;
	margin: 5% 0% 0% 12%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}


/*b-soft-update.jsp*/
.update-soft-module{
	width: 90%;
	margin: 5% 0% 0% 10%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}