.question-de-breadnav-bg{
	background-color:#f2f2f2;
}
.question-de-shadow {
	background: #f2f2f2;
    border: solid 1px #cdcdcd;
    border-top:0px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #D6D5D5;
}
.question-de-shadow .question-de-block {
	padding:5px;
	padding-bottom:20px;
	background-color:#fbfbfb;
}
.question-de-shadow .question-de-block .question-de-title {
	padding:15px;
	text-align:center;
}
.question-de-shadow .question-de-block .question-de-text {
	font-size:18px;
	color:black;
}
.question-de-shadow .question-de-block .question-de-text p{

    text-indent:2em;
    line-height:28px;
}

